<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <div class="ui fixed  menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Бложек</div>
                <a href="/" class="item">Домашняя страница</a>
                <a href="/blogs/new" class="item">Новый пост</a>

            </div>
        </div>
        
