<h1>Home page</h1>

<li><a href="/login">Войти</a></li>
<li><a href="/logout">Выйти</a></li>
<li><a href="/register">Регистрация</a></li>

<a href="/secret">Только для зарегистрированых пользователей </a>