<h1>Регистрация</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="логин">
    <input type="password" name="password" placeholder="пароль">
    <button>Войти</button>    
</form>

<li><a href="/login">Войти</a></li>
<li><a href="/logout">Выйти</a></li>
<li><a href="/register">Регистрация</a></li>

<a href="/">Главная</a>