body {
	padding: 0;
	margin: 0;
}

#content {
	width: 350px;
	margin: 100px auto;
	border: 2px solid grey;
}

h1 {
	text-align: center;
}

.done {
	color: grey;
	text-decoration: line-through;
}

input {
	margin 0 0;
}

li {
	list-style-type: none;
}