<h1>My friends: </h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend%></li>
<% }); %>

<form action="addFriend" method="POST">
    <input type="text" name="name" placeholder="name"> 
    <button>Add new friend</button>
</form>