<%  include partials/header %>

<h1>Вход</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" name="submit" value="Войти">
</form>

<%  include partials/footer %>
